<% layout('layouts/boilerplate') -%>
<body>
    <h4>Edit your Listings : </h4>
    <form method="POST" action="/listings/<%=listings._id%>?_method=PUT">
        <input name="listing[title]" value="<%= listings.title %>" type="text">
        <br><br>
        <textarea name="listing[description]" type="text"> <%=listings.description %></textarea>
        <br><br>
        <input name="listing[image]" value="<%= listings.image %>" type="text">
        <br><br>
        <input name="listing[price]" value="<%= listings.price %>" type="number">
        <br><br>
        <input name="listing[country]" value="<%= listings.country %>" type="text">
        <br><br>
        <input name="listing[location]" value="<%= listings.location %>" type="text">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>